.sapMLIB td {
  padding-top: 0.5rem !important;
}

.sapMLIB:first-child td {
  padding-top: 0.75rem !important;
}

.sapMLIB:last-child td {
  padding-bottom: 0.75rem !important;
}

.sapMLIB.sapMListTblRow {
  background: transparent;
}
.sapMLIBShowSeparator > td {
  border: none;
}
.sapMListTblNavigatedCell {
  border: none;
}

.sapMLabelTextWrapper {
  font-weight: bold !important;
}

.sapUiFormLayout.sapUiFormBackgrSolid,
.sapUiFormLayout.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}

.sapUiFormCL.sapUiFormBackgrSolid,
.sapUiFormCL.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}

.sapUiGrid.sapUiFormBackgrSolid,
.sapUiGrid.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}

.sapUiFormResGrid.sapUiFormBackgrSolid,
.sapUiFormResGrid.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}

.sapUiFormResLayout.sapUiFormBackgrSolid,
.sapUiFormResLayout.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}
