.sapMLIB td {
  padding-top: 0.5rem !important;
}

.sapMLIB:first-child td {
  padding-top: 0.75rem !important;
}

.sapMLIB:last-child td {
  padding-bottom: 0.75rem !important;
}

.sapMLIB.sapMListTblRow {
  background: transparent;
}
.sapMLIBShowSeparator > td {
  border: none;
}
.sapMListTblNavigatedCell {
  border: none;
}
.sapMLabel {
  padding: 0 0.625rem;
}
.sapMLabelTextWrapper {
  font-weight: bold !important;
}

.sapUiFormLayout.sapUiFormBackgrSolid,
.sapUiFormLayout.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}

.sapUiFormCL.sapUiFormBackgrSolid,
.sapUiFormCL.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}

.sapUiGrid.sapUiFormBackgrSolid,
.sapUiGrid.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}
.sapUiFormResGrid > div,
.sapUiFormResGrid.sapUiFormBackgrSolid,
.sapUiFormResGrid.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
  padding: 0;
}

.sapUiFormResLayout.sapUiFormBackgrSolid,
.sapUiFormResLayout.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}

/* .sapMInputBase {
  padding-left: 1%;
} */

.sapMFlexBox.sapMVBox.sapMFlexBoxJustifyStart.sapMFlexBoxAlignItemsStretch.sapMFlexBoxWrapNoWrap.sapMFlexBoxAlignContentStretch.sapMFlexBoxBGTransparent {
  background-color: white;
}
